<div class="list">
  Total: {{ (state | async).list.length }}
  <app-card-item *ngFor="let item of (state | async).list" [card]="item" (cardSelect)="viewEdit($event)">
  </app-card-item>
</div>
<div class="update" *ngIf="viewFormUpdate">
  <app-card-update [card]="itemSelected" (cancel)="close()"></app-card-update>
</div>