.content {
  margin: 20px 20px 20px 0px;
  border: 1px solid #ccc;
  padding: 20px 20px 20px 20px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 130px;
  width: 300px;
  .column {
    float: left;
    width: 50%;
    height: 100%;
    .titulo {
      padding-right: 10px;
      font-size: 18px;
      font-weight: bold;      
      word-wrap: break-word;      
    }
    .desc {
      padding-right: 10px;
      padding-top: 10px; 
      word-wrap: break-word;
      color: #284593;
    }
    .image {
      img {
        width: 140px;
        height: 110px;
      }
    }
    .actions {
      padding-top: 10px;
      span {
        color: #88e;
        cursor: pointer;
      }
      .edit {
        padding-left: 10px;
        padding-right: 20px;
      }
      .delete {
        padding-left: 10px;
      }
    }
  }
}
@media (max-width: 700px) {
  .content {
    width: 90%;
  }
}