<div class="content">
  <div class="column">
    <span class="titulo">{{card.titulo}}</span>
    <div class="desc">
      {{card.comentario}}
    </div>
  </div>
  <div class="column">
    <div class="image">
      <img [src]='rutaImg'>
    </div>
    <div class="actions">
      <span class="edit" (click)="edit()">Editar</span>
      <span class="delete" (click)="delete()">Eliminar</span>
    </div>
  </div>
</div>