.container-update {
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  border: 1px solid;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  .title {
    color: #04102E;
  }
  .row-item {
    padding-bottom: 15px;
    textarea {
      height: 80px;
    }
    button {
      padding: 8px 15px 8px 15px;
      border: 1px solid #eee1;
      background-color: #97A4C4;
      cursor: pointer;
    }
    .space {
      margin-left: 5px;
    }
  }
}