<div class="container-update" [formGroup]="formData">
  <div class="row-item">
    <div class="title">titulo</div>
    <input type="text" formControlName="titulo" />
  </div>
  <div class="row-item">
    <div class="title">Comnentario</div>
    <textarea type="textarea" formControlName="comentario"></textarea>
  </div>
  <div class="row-item">
    <button type="button" (click)="saveData()">Guardar</button>
    <button class="space" type="button" (click)="close()">Cancelar</button>
  </div>
</div>