.container-app {
    padding: 20px 20px 20px 20px;
    .actions {
      margin-bottom: 20px;
      button {
        padding: 20px 20px 20px 20px;
        border: 1px solid #eee1;
        background-color: #ccc;
        cursor: pointer;
      }
      .space {
        margin-left: 15px;
      }
    }
  }